{% extends 'app/base.html' %}

{% block title %}
File |
{% endblock %}

{% block nav %}
<a href='/dashboard/'>
    <i class='fa fa-home'></i>
    <span>Dashboard</span>
</a>
<a href='#' id='info'>
    <i class='fa fa-info-circle'></i>
    <span>Info</span>
</a>
<div class='fright'>
    <a href='/config/'>
        <i class="fa fa-gears"></i>
        <span>Config</span>
    </a>
    <a href='/logout/'>
        <i class='fa fa-sign-out'></i>
        <span>Log out</span>
    </a>
</div>
{% endblock %}

{% block main %}
    <div class='server'>
        <form action='/file/{{ server.name }}{{ path }}/' method='post' id='formd' name='Editor'>
            <h1>{{ server.name }}</h1>
            <div class='editor'>
                <h2>{{ path }}</h2>
                {{ formd.as_p }}
                <div class='cmd'>
                    <i class='fa fa-floppy-o fleft'></i>
                    <input type="submit" value='Save' />
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

{% block footer %}
{% if msg %}
<footer>
    {{ msg|safe }}
</footer>
{% endif %}
{% endblock %}
